{# Version selector flyout — driven by html_context set in conf.py #}
{% if versions is defined and versions|length > 0 %}
<div class="rst-versions" data-toggle="rst-versions" role="note"
     aria-label="Versions">
  <span class="rst-current-version" data-toggle="rst-current-version">
    <span class="fa fa-book"></span>
    {%- set _cp = current_version.split('-') %}
    v: {{ _cp[0] }}{% if _cp|length > 1 %} ({{ _cp[1:] | join('-') }}){% endif %}
    <span class="fa fa-caret-down"></span>
  </span>
  <div class="rst-other-versions">
    <dl>
      <dt>Versions</dt>
      {%- for ver in versions %}
      {%- set _parts = ver.split('-') %}
      {%- set _base = _parts[0] %}
      {%- set _suffix = _parts[1:] | join('-') %}
      <dd{% if ver == current_version %} class="rtd-current"{% endif %}>
        <a href="/{{ ver }}/index.html">{{ _base }}{% if ver == latest_version %} (latest){% elif _suffix %} ({{ _suffix }}){% endif %}</a>
      </dd>
      {%- endfor %}
    </dl>
    <dl>
      <dt>Downloads</dt>
      <dd><a href="/{{ current_version }}/_static/SGWirelessDocs.pdf">PDF</a></dd>
    </dl>
    <dl>
      <dt>External Links</dt>
      <dd><a href="https://sgwireless.com">sgwireless.com</a></dd>
      <dd><a href="https://github.com/sg-wireless/sg-documentation">GitHub</a></dd>
    </dl>
  </div>
</div>
{% endif %}
